<div class="col-md-2 side-bar-left">
  <div class="row">
    <div id="navigation">
      <h3>Navigation</h3><br><br>
      <div id="posts">
        <%= link_to "Posts", profiles_home_path %>
      </div><br><br>
      <div id="gallery">
        <%= link_to "Gallery", albums_path %>
      </div><br><br>
      <div id="profile">
        <label>Profile</label>
      </div><br><br>
      <div id="users">
        <%= link_to "Users", profiles_user_list_path %>
      </div>   <br><br>
      <div id="friends">
        <%= link_to "Friends", friendships_path %>
      </div><br><br>
      <div id="friends">
        <%= link_to "Notifications", friendships_notifications_path %>
      </div><br><br>
    </div>
  </div>
</div>


<style>
  .side-bar-left{
    height: auto;
    border-right: 1px solid #1D2939;
    border-bottom: 1px solid #1D2939;
    background-color: #1D2939;
    height: 500px;
    color: white;
    border-radius: 5px;
    opacity: 0.8;
    
  }
  #navigation{
    margin-left: 20px;
    font-size: 15px;
  }


</style>