


<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>User:</strong>
  <%= @album.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>
-->

<% @all_album_pics.each do |pics| %>
 <div><%= image_tag pics.avatar.url(:medium) %></div><br><br>
<%end%> 

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @all_album_pics.each_with_index do |pics, index| %>
      <%if(index == 0)%>    
          <li data-target="#carousel-example-generic" data-slide-to="#{index}" class="active"></li>    
      <%else%>    
          <li data-target="#carousel-example-generic" data-slide-to="#{index}"></li>    
      <%end%>
      <%#= @all_album_pics.count %>
    <%end%> 
  </ol>

  <!-- Wrapper for slides -->
  
  
  <div class="carousel-inner" role="listbox">
  
    <% @all_album_pics.each_with_index do |pics, index| %>
      <%if(index == 0)%>    
         <div class="item active">        
           <img src="<%= pics.avatar.url %>" alt="...">    
         </div>
      <% else %>    
        <div class="item">        
          <img src="<%= pics.avatar.url %>" alt="...">    
        </div>    
      <%end%>
    <%end%> 
    
  </div>
    
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>


<script>
  $('document').ready(function(){
    $('.carousel').carousel();
  });
</script>
