<div class="col-md-9">
<div class="col-md-12 mb50">
   <h3>Gallery</h3>   
</div>
<br><br>

<%= link_to "upload image", new_picture_path(:album_id=>@album) %>

<p id="notice"><%= notice %></p>



<div id="wrapper">
 <div class="slider-wrapper theme-default">
  <div class="ribbon"></div>
  <div id="slider" class="ramblingSlider">
   <% @all_album_pics.each do |pics| %>
     <%= image_tag pics.avatar.url(:medium) %> alt="image1"/>     
  <%end%>
   
  </div>
 </div>
</div>


<br><br><br><br><br>

<div class="row mb50">
  <% @all_album_pics.each do |pics| %>
   <div class="col-md-3">    
    <a href="#" class="img-thumbnail">  
    <span><img src="<%= pics.avatar.url(:medium) %>", class="img-responsive"></span>      
    </a>
   </div> 
      <%end%>
</div>
<br>


  <br>
<br>
<div>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
</div>
</div>
<script>
  $(window).load(function(){
    
    var name = 'directionNav';
    $('#slider').ramblingSlider({'effect': 'sliceFadeRight'});    
        
  });
</script>

