<style>
  .form-control {
    width: 50%;
  }
</style>
<%= form_for @posts , url: {:action => "create"},:html => { :multipart => true } do|f| %>

<div class="form-group">
    Post<br>
    <%= f.text_field :post, {class:"form-control"}%> <br>

    <%= f.fields_for :image do |a| %>
    	<%= a.file_field :avatar %>
    <% end %>


    <%= f.submit%>
</div>

<% end %>